@font-face {
    font-family: "Gothic";
    src: url("../font/gothic.otf") format("opentype");
}

body {
    font-family: "Gothic", serif;
}

#festivalName {
    text-align: center;
    font-size: 4rem;
    margin-top: 120px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

#daySelector {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px 40px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.dayBtn,
.dayBtn:hover,
.dayBtn.active {
    flex: 1;
    text-align: center;
    font-family: "Gothic", serif;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    font-size: 2rem;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
}


.dayBtn:hover,
.dayBtn.active {
    border-bottom: 3px solid #333;
    font-weight: bold;
}

#stageName {
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
}

.media-section {
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.media-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.media-box {
    flex: 1 1 45%;
    max-width: 45%;
}

.media-box img,
.media-box video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stage-description {
    text-align: center;
    font-size: 1rem;
    color: #555;
    margin: 8px auto 20px;
    max-width: 700px;
}
.stage-description {
    text-align: center;
    font-size: 2rem;
    color: #000000;
    margin: 8px auto 20px;
    max-width: 700px;
}

nav {
    z-index: 1000;
}

#festivalName {
    z-index: 1;
}
/*important tells browser do no matter what*/
#prevBtn,
#nextBtn {
    font-family: "Gothic", serif !important;
    font-size: 2rem !important;
    padding: 0.75rem 1.5rem !important;
    cursor: pointer !important;
}

#stageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: start;
}
#stageContainer img {
    width: 100%;
    height: auto;
    display: block;
}

.favorite-btn {
    display: none;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    font-family: "Gothic", serif;
    cursor: pointer;
}


